
<!--

Panel name: "PrintPrintPanel"

Panel note: Display a record for printing.

This is one of a group of 3 panels displayed when the "Print" button is clicked.

This panel is just 1 in a group of 3 panels.
Your other 2 panels in this group are

  * The content panel <div #mainMasterView-home-pad-PrintButton-PrintNotReadyPanel-inner-user-content
  * Name: PrintNotReadyPanel
  * Note: Static text displayed when there are no contacts in the store.

  * The content panel <div #mainMasterView-home-pad-PrintButton-PrintSelectPanel-inner-user-content
  * Name: PrintSelectPanel
  * Note: A select widget sorted by name.
The widget needs to be rebuilt anytime a contact is added, edited or removed.


-->
<h3 id="printTitle"></h3>
<table id="printTable"></table>
<p>
  <button id="printBack">Back to selection.</button>
  <button id="printPrintAs"></button>
</p>

