
<!--

Panel name: "PrintSelectPanel"

Panel note: A select widget sorted by name.
The widget needs to be rebuilt anytime a contact is added, edited or removed.


This is one of a group of 2 panels displayed when the "Print" button is clicked.

This panel is just 1 in a group of 2 panels.
Your other panel in this group is

  * The content panel <div #mainMasterView-home-pad-PrintButton-PrintNotReadyPanel-inner-user-content
  * Name: PrintNotReadyPanel
  * Note: Static text displayed when there are no contacts in the store.

-->

<div id="printSelectWidgetWrapper" class="VList"></div>
