
<!--

Panel name: "RemoveNotReadyPanel"

Panel note: Static text displayed when there are no contacts in the store.

This is one of a group of 3 panels displayed when the "Remove" button is clicked.

This panel is just 1 in a group of 3 panels.
Your other 2 panels in this group are

  * The content panel <div #mainMasterView-home-pad-RemoveButton-RemoveSelectPanel-inner-user-content
  * Name: RemoveSelectPanel
  * Note: A select widget sorted by name.
The widget needs to be rebuilt anytime a contact is added, edited or removed.


  * The content panel <div #mainMasterView-home-pad-RemoveButton-RemoveFormPanel-inner-user-content
  * Name: RemoveFormPanel
  * Note: A contact display with "remove" and "cancel" buttons.

-->

<p>You don't have any contacts to remove.</p>
