
<!--

Panel name: "RemoveSelectPanel"

Panel note: A select widget sorted by name.
The widget needs to be rebuilt anytime a contact is added, edited or removed.


This is one of a group of 3 panels displayed when the "Remove" button is clicked.

This panel is just 1 in a group of 3 panels.
Your other 2 panels in this group are

  * The content panel <div #mainMasterView-home-pad-RemoveButton-RemoveNotReadyPanel-inner-user-content
  * Name: RemoveNotReadyPanel
  * Note: Static text displayed when there are no contacts in the store.

  * The content panel <div #mainMasterView-home-pad-RemoveButton-RemoveFormPanel-inner-user-content
  * Name: RemoveFormPanel
  * Note: A contact display with "remove" and "cancel" buttons.

-->

<div id="removeSelectWidgetWrapper" class="VList"></div>
