
<!--

Panel name: "EditNotReadyPanel"

Panel note: Static text displayed when there are no contacts in the store.

This is one of a group of 3 panels displayed when the "Edit" button is clicked.

This panel is just 1 in a group of 3 panels.
Your other 2 panels in this group are

  * The content panel <div #tabsMasterView-home-pad-EditButton-EditSelectPanel-inner-user-content
  * Name: EditSelectPanel
  * Note: A select widget sorted by name.
The widget needs to be rebuilt anytime a conact is added, edited or removed.


  * The content panel <div #tabsMasterView-home-pad-EditButton-EditFormPanel-inner-user-content
  * Name: EditFormPanel
  * Note: A contact form with "edit" and "cancel" buttons.

-->

<p>You don't have any contacts to edit.</p>
