
<!--

Panel name: "EditSelectPanel"

Panel note: A select widget sorted by name.
The widget needs to be rebuilt anytime a conact is added, edited or removed.


This is one of a group of 3 panels displayed when the "Edit" button is clicked.

This panel is just 1 in a group of 3 panels.
Your other 2 panels in this group are

  * The content panel <div #mainMasterView-home-pad-EditButton-EditNotReadyPanel-inner-user-content
  * Name: EditNotReadyPanel
  * Note: Static text displayed when there are no contacts in the store.

  * The content panel <div #mainMasterView-home-pad-EditButton-EditFormPanel-inner-user-content
  * Name: EditFormPanel
  * Note: A contact form with "edit" and "cancel" buttons.

-->

<div id="editSelectWidgetWrapper" class="VList"></div>
